@model Alumne


<h1>Guardat</h1>



<h3>No hi ha hagut errors al formulari i s'ha guardat correctament</h3>




<div>
	<p>Nom:    @Model.Nom</p>
	<p>Cognoms:    @Model.Cognoms</p>
	<p>Edat:    @Model.Edat</p>
	<p>Correu Electronic:    @Model.Email</p>
	<p>Data Naixement:    @Model.DataNaixement</p>
	<p>Genere:    @Model.Sexe</p>
</div>